.block
  %p.title Welcome to your profile
  %p In order to make your experience here as pleasant and enjoyable as possible; perhaps share a picture.
  %p To upload a picture from your computer choose the picture icon from the menu above. A description is required for anything that you share, if you would like "picture" is a valid description.
