= legend("Not signed in")
%ul.controls
  = controls_link("Create account", new_account_path, 'join')
  = controls_link("Login", new_session_path, 'login')
  = controls_link("Password recovery", new_password_path, 'reset_password')
