= legend("Not signed in")
%ul.controls
  = controls_link("Sign in", login_path, 'login')
  = controls_link("Join now", new_account_path, 'join')
  = controls_link("Password reset", new_password_path, 'reset_password')
