!!!
%html
  %head
    %meta{"http-equiv" => "Content-Type", :content => "text/html; charset=utf-8"}
  %body{:style => "font-family:sans-serif;line-height:1.5em;"}
    %p You may use the following link to change the password on your account. It will allow you to change your password once, this link expires in five days.
    - url = edit_password_url(@account, :password_code => @account.password_code)
    %p= link_to url, url
    %br
    %p Sent from
    %p
      = APP[:site_name]
      %br
      = link_to root_url, root_url
