- title "Set password"
- panel @account.profile

= form_for @account, :url => password_path(@account, :password_code => params[:password_code]) do |form|
  = errors_for @account
  .form_fields
    = render :partial => "form", :object => form
  .submit= form.submit "Submit"
