- title "Password recovery"
- named_panel("sessions", 'reset_password')

= form_for(:password, :url => {:action => :create}) do |form|
  .form_fields
    .field.new_row
      %p= label_tag :email
      %p= email_field_tag :email
    .wide_field
      %p.extra Your account is recoverable using this email address.
  .submit= form.submit "Submit"
