- title "Password reset"
- named_panel("sessions", 'reset_password')

= form_for(:session, :url => {:action => :create}) do |form|
  .form_fields
    .field.new_row
      %p= form.label :email
      %p= form.email_field :email
    .wide_field
      %p.extra Use this form to have a short set of password reset instructions sent to your email address.
  .submit= form.submit "Send"
