.block
  %p.title No content here
  %p Content will start to appear here once others start to share with you.
  %p Nobody has elected to start sharing their content yet. In the mean time try gaining popularity.
  %p
    A good place to start is by mingling in 
    = link_to('Recent', recent_path)
    and see who you can come up with.
