.block
  %p.title You have no friends
  %p Here is where new content will appear once friends begin sharing with you.
  %p Currently nobody has elected to start sharing their content. In the mean time try gaining popularity.
  %p
    A good place to start is by mingling in 
    = link_to('Recent', recent_path)
    and see who you can come up with.
