= legend(APP[:site_name])
%ul.controls
  = controls_link("Home", good_content_path, 'good_content')
  = controls_link("Hidden stuff", hidden_path, 'hidden')
  = controls_link("Recent", recent_path, 'recent')
  / = controls_link("Non-friendly", non_friendly_path, 'non_friendly')
  / = controls_link("Randoms", randoms_path, 'randoms')
  / %li.spacer
  / = controls_link("Followed topics", followed_topics_path, 'followed_topics')
  / = controls_link("Popular", popular_topics_path, 'popular_topics')
  / = controls_link("Followed blogs", followed_blogs_path, 'followed_blogs')
  / = controls_link("Popular", popular_blogs_path, 'popular_blogs')
