- title "Whazzam"
- named_panel("accounts")

.block
  #a_magic_fairy
    = image_tag "extras/magic_fairy.gif", :class => "fairy"
    .content
      .caption Tada
      %p A beautiful fairy from somewhere wonderous and magical has cast "Splendid magic email" upon your computer message inbox!
      %p Please check in a moment then click on the enclosed link.
  .midi_player
    %object{ :data => "/images/extras/endless.mid", :type => "audio/midi" }
  %p Fairy music is here for you to groove to while you wait.
.block
  %p 
    Things are working as expected. If you would like, you may choose to
    = link_to "enter your access code", confirm_account_path(@account)
    any time.
  %p Enjoy.
